body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr{
    width: 500px;
}

#errors{
    color: green;
}

#board{
    width: 450px;
    height: 450px;

    background-color: aquamarine;
    margin: 0 auto; /* to center */
    display: flex;
    flex-wrap: wrap;
}

#digits{

    width: 450px;
    height: 50px;

    background-color:lightcyan;

    margin: 0 auto; /* to center */
    display: flex;
    flex-wrap: wrap;

}

.tile{
    width: 48px;
    height: 48px;
    border : 1px solid lightgray;

    /* texte */
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Created by function setGame */
.number{
    /* 44px because 1px*2 and 2px*2 => 50px */
    width: 44px;
    height: 44px;
    border : 1px solid black;
    margin : 2px;

    /* texte */
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected{
    background-color: lightskyblue;
}

.tile-start{
    background-color: whitesmoke;
}

.horizontal-line{
    border-bottom: 1px solid black;
}

.vertical-line{
    border-right: 1px solid black;
}