body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr{
    width: 500px;
}

#errors{
    color: red;
}

#board{
    width: 450px;
    height: 450px;

    background-color: aquamarine;
    margin: 0 auto; /* to center */
    display: flex;
    flex-wrap: wrap;
}

#digits{

    width: 450px;
    height: 50px;

    background-color: aquamarine;

    margin: 0 auto; /* to center */
    display: flex;
    flex-wrap: wrap;

}

.tile{
    width: 48px;
    height: 48px;
    border : 1px solid lightpink;

    /* texte */
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Created by function setGame */
.number{
    width: 48px;
    height: 48px;
    border : 1px solid darkblue;

    /* texte */
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}